.breed-select {
  max-width: 500px;
  margin: 50px auto;
}

.cat-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 10px auto;
  width: 1200px;
}

.error {
  color: rgba(255, 0, 0, 0.707);
}

.js-cat-img {
  width: 60%;
  border-radius: 30%;
}

.loader {
  font-size: 0px;
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
  padding: 0;
}
